/* Configuración de Fuente Global */
body {
    font-family: "Orbitron", sans-serif !important;
    letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
.navbar-brand {
    font-weight: 700;
    letter-spacing: -0.5px; /* Un toque más moderno para títulos */
}

/* Tus estilos actuales */
.bg-secondary {
    background-color: #000000 !important;
}

.copyright {
    background-color: #1a252f;
}

.bg-primary {
    background-color: #1d1abc !important;
}

nav {
    font-weight: 700;
}

.img-card {
    height: 18vw;
    object-fit: cover;
}
