.bg-secondary {
    background-color: #000000 !important;
}
.copyright {
    background-color: #1a252f;
}
.bg-primary {
    background-color: #1d1abc !important;
}
nav {
    font-weight: 700;
}
.img-card {
    height: 18vw;
    object-fit: cover;
}
